body {
    margin: 10px;
}

.grid-container {
    background-color: gray;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: "header header header" 
                         "sidebar conteudo-principal conteudo-principal"
                         "footer footer footer2"
    ;
}

.grid-item {
    background-color: rgb(68, 68, 193);
    border: solid 2px rgb(66, 183, 86);
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.conteudo-principal {
    grid-area: conteudo-principal;
}

.footer {
    grid-area: footer;
}

.footer2 {
    grid-area: footer2;
}